.card-box {
  max-width: 600px;                       // 최대 너비
  
  display: flex;                          // flex-box 레이아웃 적용
  flex-wrap: wrap;                        // 자식 요소들이 줄 바꿈 가능하도록 설정
  justify-content: center;                // 자식 요소들을 가로 방향으로 중앙 정렬
  align-items: center;                    // 자식 요소들을 세로 방향으로 중앙 정렬
  gap: 5px;                               // 자식 요소들 사이의 간격 설정
  
  border: 1px solid black;              // 테두리 설정
  margin: 0 auto;                         // 중앙 정렬을 위한 margin 설정

  .card-container {
    width: 100px;
    height: 150px;

    .card {
      width: 100%;        
      height: 100%;
      border: 1px solid red;
      
      background-size: cover;             // 배경 이미지 크기 조정
      background-position: center;        // 배경 이미지 위치 설정
      background-repeat: no-repeat;       // 배경 이미지 반복 방지
      transition: transform 0.3s;    // 변환 효과 설정
      
      z-index: 0;                         // 초기 z-index 설정
    }

    .card:hover {
      transform: scale(1.5);              // 마우스 오버 시 카드 크기 확대
      z-index: 2;
    }
  }
}

$path: "../../Cards/";                    // 카드 이미지 경로
$prefix: "cardDiamonds";                  // 카드 이미지 접두사

// 카드 이미지 파일 이름에 따라 배경 이미지 설정
// 1부터 13까지 반복하여 각 카드에 대한 배경 이미지 설정
@for $i from 1 through 13 {
  $label : $i;
  @if $i ==1 {
    $label: "A"
  } @else if $i == 11 {
    $label: "J"
  } @else if $i == 12 {
    $label: "Q"
  } @else if $i == 13 {
    $label: "K"
  }
  .card-container:nth-child(#{$i}) {
    .card  {
      background-image: url(#{$path}#{$prefix}#{$label}.png);
    }
  }
}